<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.martbymarsh">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MartByMARSH"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".Cart"></activity>
        <activity android:name=".Products" />
        <activity android:name=".history" />
        <activity android:name=".ResetAddress" />
        <activity android:name=".ResetPass" />
        <activity android:name=".UserProfile" />
        <activity android:name=".HomeContent" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SignupActivity" />
        <activity android:name=".ProductDetailPage" />
        <activity android:name=".SigninActivity" />
        <activity android:name=".AskActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>